<div class="details-container mx-auto max-w-4xl bg-white shadow-lg p-5">
  <mat-toolbar color="primary" class="mb-4">
    <span>{{ details.propertyDetails.title }}</span>
  </mat-toolbar>

  <ngx-slick-carousel class="carousel" [config]="slideConfig" #slickModal="slick-carousel">
    <div ngxSlickItem *ngFor="let img of details.propertyDetails.images || slides">
      <img src="{{ img }}" alt="Image" style="width: 100%; height: auto;">
    </div>
  </ngx-slick-carousel>

  <mat-card>
    <mat-card-header>
      <div class="wrapper-header">
        <mat-card-title>{{ details.propertyDetails.locality }}, {{ details.listingDetails.area }} m²</mat-card-title>
        <mat-card-subtitle>{{ details.listingDetails.rooms }} pokoje, Piętro: {{ details.listingDetails.floor }}</mat-card-subtitle>
      </div>
      <div class="arrow-box">
        <div
          (click)="changeSlide('prev')"
          (keydown)="changeSlideWithKeys($event)"
          class="arrow-left"
          tabindex="0"
          type="button"
        ></div>
        <div
          (click)="changeSlide('next')"
          (keydown)="changeSlideWithKeys($event)"
          class="arrow-right"
          tabindex="0"
          type="button"
        ></div>
      </div>
    </mat-card-header>
    <mat-card-content>
      <p class="text-lg">{{ details.listingDetails.price }} {{ details.listingDetails.currency }}</p>

      <h2 class="mt-4">Opis</h2>
      <p class="description">{{ details.propertyDetails.description }}</p>

      <h2 class="mt-4">Szczegóły</h2>

      <div class="grid grid-cols-2 gap-4">
        <div *ngFor="let detail of getDetailsArray(details.listingDetails)" class="py-2">
          <span>{{ detail.value | translateDetails:detail.key }}</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <button mat-stroked-button color="primary" (click)="goBack()" class="mt-8 flex items-center">
    <mat-icon>arrow_back</mat-icon>
    <span class="ml-2">Powrót</span>
  </button>
</div>
