<div class="details-container mx-auto max-w-4xl bg-white shadow-lg p-5">
  <mat-toolbar color="primary" class="mb-4">
    <span>{{ details.propertyDetails.title }}</span>
  </mat-toolbar>

  <img [src]="details.propertyDetails.images ? details.propertyDetails.images[0] : './assets/images/image-placeholder.jpg'"
       alt="{{ details.propertyDetails.title }}"
       class="w-full h-64 object-cover mb-4 rounded">

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ details.propertyDetails.locality }}, {{ details.listingDetails.area }} m²</mat-card-title>
      <mat-card-subtitle>{{ details.listingDetails.rooms }} pokoje, Piętro: {{ details.listingDetails.floor }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="text-lg">{{ details.listingDetails.price | currency:details.listingDetails.currency }}</p>

      <h2 class="mt-4">Opis</h2>
      <p class="description">{{ details.propertyDetails.description }}</p>

      <h2 class="mt-4">Szczegóły</h2>

      <div class="grid grid-cols-2 gap-4">
        <div *ngFor="let detail of getDetailsArray(details.listingDetails)" class="py-2">
          <span>{{ detail.value | translateDetails:detail.key }}</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <button mat-stroked-button color="primary" (click)="goBack()" class="mt-8 flex items-center">
    <mat-icon>arrow_back</mat-icon>
    <span class="ml-2">Powrót</span>
  </button>
</div>
