@import "variables";
@import "mixins";
@import "typography";

.details-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);

  .carousel {
    img {
      width: 100%;
      max-height: 500px;
      object-fit: cover;
      margin-bottom: 10px;
    }
  }
  ::ng-deep mat-card-header {
    padding-bottom: 10px;
    .mat-mdc-card-header-text {
      display: none !important;
    }
    display: flex;
    justify-content: space-between;
  }

  .arrow-box {
    margin-left: 24px;
    display: flex;
    column-gap: 8px;
  }

  .arrow-right,
  .arrow-left {
    position: relative;
    @include box(40px, 40px);

    &::after {
      content: '';
      position: absolute;
      @include box(40px, 40px);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .arrow-right {
    &:after {
      background-image: url('/assets/images/arrow-right.svg');
    }
  }

  .arrow-left {
    &:after {
      content: '';
      background-image: url('/assets/images/arrow-left.svg');
    }
  }


  header {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 20px;
    margin-bottom: 20px;

    h1 {
      margin: 0;
      color: #333;
    }

    strong {
      font-size: 24px;
      color: #666;
    }

    div {
      font-size: 18px;
      color: #999;
    }
  }

  .details-section {
    h2 {
      font-size: 20px;
      color: #333;
    }

    .detail {
      margin-top: 10px;
      font-size: 16px;

      strong {
        font-weight: bold;
      }
    }
  }
  .description {
    @include body-v3;
  }

  footer {
    margin-top: 20px;
  }
  .mat-stroked-button {
    padding: 8px 16px;
  }
}
