<app-header></app-header>
<section>
  <div class="px-4 py-20 mx-auto max-w-7xl">
    <div class="w-full px-0 pt-5 pb-6 mx-auto mt-4 mb-0 space-y-4 bg-transparent border-0 border-gray-200 rounded-lg md:bg-white md:border sm:w-10/12 md:w-8/12 lg:w-6/12 xl:w-4/12 md:px-6 sm:mt-8 sm:mb-5">
      <h1 class="mb-5 text-xl font-light text-left text-gray-800 sm:text-center">Zaloguj się do swojego konta</h1>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="pb-1 space-y-4">
        <label class="block">
          <span class="block mb-1 text-xs font-medium text-gray-700">Twój Mail</span>
          <input class="form-input" type="email" placeholder="Ex. james@bond.com" formControlName="email" required>
        </label>
        <label class="block">
          <span class="block mb-1 text-xs font-medium text-gray-700">Twoje hasło</span>
          <input class="form-input" type="password" placeholder="••••••••" formControlName="password" required>
        </label>
        <div class="flex items-center justify-between">
          <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Zaloguj się</button>
        </div>
      </form>
    </div>
    <p class="mb-4 space-y-2 text-sm text-left text-gray-600 sm:text-center sm:space-y-0">
      <a routerLink="/forgot" class="w-full btn btn-sm btn-link sm:w-auto">Nie pamiętam hasła</a>
      <a routerLink="/register" class="w-full btn btn-sm btn-link sm:w-auto">Zarejestruj się</a>
    </p>
  </div>
</section>
