<section class="px-4 py-32 mx-auto max-w-7xl not-found-container">
  <div class="content-center w-full mx-auto lg:w-1/3">
    <img class="pb-3" routerLink="/home" src="/assets/images/logo.svg" alt="Logo" style="height: 30px;">
    <p class="mt-5 mb-3 text-xl font-bold text-black md:text-2xl">Nie znaleziono strony (404)</p>
    <p class="mb-3 text-base font-medium text-gray-700">
      Strona, której szukasz, mogła zostać przeniesiona lub już nie istnieje. Wróć do naszej strony <a routerLink="" class="underline">Strona główna</a>, lub zajrzyj do jednej z poniższych sekcji.
    </p>
  </div>
</section>
