@import "variables";
@import "mixins";
@import "typography";

:host ::ng-deep .mdc-button__label {
  @include flex-center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 50px auto;
  gap: 24px;
  .card-item {
    .title {
      @include title-v4;
    }
    .description {
      @include body-v2;
    }

  }
}
