@import "variables";
@import "mixins";
@import "typography";


.container {
  max-width: 1200px;
  margin: 50px auto;
  mat-card-title {
    @include title-v3;
  }
  .description {
    @include body-v2;
    margin-bottom: 30px;
  }
}

.card {
  margin-top: 20px;
  border-radius: 0.5rem;
}
mat-card-header {
  padding-bottom: 10px;
}
.back-button {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

mat-card-content{
  padding-top: 0;
  h3 {
    @include title-v4;
  }
  p {
    @include body-v2;
  }
}
