@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "_variables";
@import "_typography";
@import "_mixins";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  font-family: $poppins-font-family;
  font-size: 14px;
  color: $defaultTextColor;
}
.menu-overlay-pane {
  .mat-mdc-menu-content {
    text-align: center;
    .active-user {
      border-bottom: 1px solid $border-color;
      height: 48px;
      @include flex-center;
      span {
        @include flex-center;
        mat-icon {
          margin-right: 5px;
        }
      }
    }
  }
  .mat-mdc-menu-panel {
    min-width: 200px;
  }
  .mat-mdc-menu-item {
    text-align: center;

    &:last-of-type {
      border-top: 1px solid $border-color;
    }
  }
}

@import 'variables';
@import 'mixins';

@import 'variables';
@import 'mixins';

.page-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  height: calc(100vh - 64px - 400px);

  h1, h2, h3 {
    text-align: center;
    color: $color-dark;
  }

  h1 {
    @include title-v3;
  }

  p {
    @include body-v2;
    text-align: justify;
  }

  a {
    @include linked-text;
    display: inline-block;
    margin: 5px 0;

    &:hover {
      color: $color-primary;
      text-decoration: underline;
    }
  }

  .button {
    @include button-v1;
    background-color: $color-info;
    color: $color-white;
    margin-top: 20px;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}


